# coloque as credenciais aqui
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.ngrok-free.app
CORS_ALLOWED_ORIGINS=http://localhost:5173
CORS_ALLOWED_ORIGIN_REGEXES=https://.*\.ngrok-free\.app
CSRF_TRUSTED_ORIGINS=http://localhost:5173,https://localhost:5173,https://*.ngrok-free.app

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5433